@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background: white;
  --foreground: black;
  --text-color: #333;
  --bg-creation: rgba(255, 255, 255, 0.2);

  --border: 1px solid #131325;
  --gradient: linear-gradient(-45deg, #d000f7, #24bae3);
  --box-shadow: 5px 5px 15px rgb(19, 19, 37), -5px -5px 15px rgb(19, 19, 37);
  --items-shadow: 5px 5px 15px rgb(19, 19, 37), -5px -5px 15px rgb(19, 19, 37);
  --gradient-bg: linear-gradient(-45deg, #d000f7, #24bae3);

}
[data-theme='dark'] {
  --background: #333;
  --foreground: #fff;
  --text-color: #fff;
  --subtext-color: #a7a7a7;
  --bg-creation: rgb(23, 22, 24);
}

html,
body {
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease;
  cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1543.cur), auto !important;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1543.cur), auto !important;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  list-style: none;
}
* :hover {
  cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1543.cur), auto !important;
}
::-webkit-scrollbar {
  display: none;
}

//<hr className={hr_mid} />
.hr_mid {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr_mid:before {
  content: "";
  background: linear-gradient(to right, transparent, #afafaf, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr_mid:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}